*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img_respnsive{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.clr::before,
.clr::after{
	content: "";
	display: table;
	clear: both;
}

/* START */
.container{
	max-width: 1170px;
	margin: 0 auto;
}

.img_custom{
	width: 300px;
	height: 200px;
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 5px;
}